<div class="header">
  <nav>
    <div class="navLogo">
      <a routerLink="/home"> Seen It </a>
    </div>
    <ul class="navLinks">
      <li class="link">
        <a routerLink="/home">Home</a>
      </li>
      <li class="link">
        <a routerLink="/movies-list">Movies</a>
      </li>
      <li class="link">
        <a routerLink="/watch-list">Watch List</a>
      </li>
      <li class="link">
        <a routerLink="/watched">Watched</a>
      </li>
      <li class="link">
        <a routerLink="/contact">Contact us</a>
      </li>
    </ul>
  </nav>
</div>
