.header {
  background-color: rgba(0, 0, 0, 0.5);

  // border-bottom-left-radius: 25px;
  // border-bottom-right-radius: 25px;
}
nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.navLogo {
  max-width: 150px;
}
.navLogo a {
  color: white;
  font-size: 30px;
  font-weight: 620;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/**
*/

.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: white;
}
.link a:after {
  content: "";
  position: absolute;

  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.15s ease;
}
.link a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navLinks {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.95);
    backdrop-filter: blur(5px);

    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    visibility: hidden;

    transition: transform 0.1s ease-in-out, opacity 0.4s ease-in-out,
      visibility 0.4s;
  }

  .navLinks.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .burger {
    display: block;
    position: relative;
    z-index: 1001;
    cursor: pointer;
  }

  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger.toggle .line2 {
    opacity: 0;
  }
  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
