<section class="container">
  <!-- <div class="overlay"></div> -->
  <div class="content">
    <!-- <span class="blur"></span>
    <span class="blur"></span> -->
    <h1>
      Track movies you’ve watched.<br />
      Save those you want to see.<br />
      Tell your friendswhat’s good.
    </h1>

    <p>
      Discover and keep track of your favorite movies and shows. Build your
      personal watchlist and explore what’s trending now!
    </p>
    <button routerLink="/movies-list" class="btn">
      Get started — it‘s free!
    </button>
  </div>
</section>
