<nav class="footer">
  <div class="copy">
    <h3>&copy; Ahmed Ziedan 2025</h3>
  </div>
  <ul class="navLinks">
    <li class="link">
      <a href="https://www.facebook.com/ahmed.ziedan.480855" target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
    <li class="link">
      <a href="https://www.instagram.com/ahmedziedan_/" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li class="link">
      <a href="https://wa.me/201023674285" target="_blank">
        <i class="fa-brands fa-whatsapp"></i
      ></a>
    </li>
    <li class="link">
      <a href="https://www.linkedin.com/in/ahmedziedan/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
  </ul>
</nav>
